

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-right: 0;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

.Top-Container{
  background-color: #FFF89A;
position:relative;
padding-top: 100px;
}

.Middle-Container{
  background-color: Blue;
  height: 200px;
  width:200px;
}

.Bottom-Container{
  background-color: Green;
  height: 200px;
  width:200px;
}

.full{
  text-decoration: underline;
}

.top-cloud{
  position:absolute;
  right:300px;
  top:50px;
}

.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px;

}
