div{
  background-color: #FFF89A;
  height: 200px;
  width:200px;
}

h1, body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.Middle-Container{
  background-color: Blue;
}

.Bottom-Container{
  background-color: Green;
}
